# Python虚拟环境
/tmpvqxomkly/
venv/
env/

# Python缓存和编译文件
.tmp/
__pycache__/
*.py[cod]
*$py.class
src/__pycache__/

# Git版本控制文件
.git/
.gitignore

# 日志文件
*.log

# Docker自身文件
Dockerfile
.dockerignore


# 其他本地配置文件
.vscode/
.idea/
.iml
old/
start_web_server.bat
.env
config.json
docs/
launcher/
scripts/portable/
AGENTS.md
GEMINI.md
CLAUDE.md
images/logo/banner.psd
.aider*
installed_packages.txt

#.md


#.使用产生的文件

requirement/
logs/
criteria/
archive/
jsonl/
state/
example/
task_stats/
.pytest_cache/
*.spec
dist/
build/
upgrade.txt

